@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.cabecalho {
    background-color: #3750B3;
    width: 100vw;
    height: 71px;
    display: flex;
    justify-content: space-between;

}

.left {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 88px;


}

.right {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 88px;

}

p {
    color: #FFFFFF;
    margin-right: 10px;
}

.page{

    display: flex;


}

.imagem1{

    display:flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 26px;
    height: 779px;
    width: 793px;
    top: 174px;
    left: 120px;
    padding: 88px;
    padding-right: 0px;

}

.imagem2{
    
    display:flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 26px;
    height: 779px;
    width: 793px;
    top: 174px;
    left: 1007px;
    padding: 88px;
    

}

